 .custom-jumbotron{
      background-color: lightblue;
  }
  .text-block1{
    background-color: red;
  }
  .hour{
    background-color: lightslategray;
    align-items: center;
    justify-content: center;
    border: solid black;
  }
  